---
// Contact.astro
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import SocialButton from "../SocialButton.astro";
import MailIcon from "../icons/MailIcon.astro";
---

<section
  id="contact"
  class="flex flex-col items-center justify-start gap-8 text-white sm:py-12 h-120"
>
  <div class="text-center max-w-2xl">
    <h2 class="text-4xl font-bold font-josefin leading-14">
      Contact Me
    </h2>
    <h3 class="text-xl font-medium">
      Feel free to reach out to me through any of the following platforms:
    </h3>
    <ul class="flex justify-center flex-wrap gap-4 mt-20">
      <SocialButton href="https://www.linkedin.com/in/facundoblanco1/">
        <LinkedinIcon />
        <span>LinkedIn</span>
      </SocialButton>
      <SocialButton href="https://github.com/Facundoblanco10">
        <GithubIcon />
        <span>GitHub</span>
      </SocialButton>
      <SocialButton href="mailto:facundoblancov@gmail.com">
        <MailIcon />
        <span>facundoblancov@gmail.com</span>
      </SocialButton>
    </ul>
  </div>
</section>
