---
import IconsCard from "../IconsCard.astro";
import type { Icon } from "../../interfaces/icon";

const frontendIcons: Icon[] = [
  {
    title: "Angular",
    iconName: "angular",
  },
  {
    title: "Vue",
    iconName: "vue",
  },
  {
    title: "TypeScript",
    iconName: "typescript",
  },
  {
    title: "JavaScript",
    iconName: "javascript",
  },
  {
    title: "HTML",
    iconName: "html",
  },
  {
    title: "CSS",
    iconName: "css",
  },
  {
    title: "Sass",
    iconName: "sass",
  },
  {
    title: "Astro",
    iconName: "astro",
  },
  {
    title: "Tailwind CSS",
    iconName: "tailwind",
  },
];
const backendIcons: Icon[] = [
  {
    title: "Laravel",
    iconName: "laravel",
  },
  {
    title: "Php",
    iconName: "php",
  },
  {
    title: "C",
    iconName: "c",
  },
  {
    title: "Python",
    iconName: "python",
  },
  {
    title: "Node.js",
    iconName: "nodejs",
  },
  {
    title: "MySQL",
    iconName: "mysql",
  },
  {
    title: "AWS",
    iconName: "aws",
  },
];
const otherIcons: Icon[] = [
  {
    title: "Git",
    iconName: "git",
  },
  {
    title: "Docker",
    iconName: "docker",
  },
  {
    title: "Postman",
    iconName: "postman",
  },
  {
    title: "Github",
    iconName: "github",
  },
  {
    title: "Linux",
    iconName: "linux",
  },
];
---

<section
  id="technologies"
  class="flex flex-col gap-8 items-center justify-center text-white-100 sm:mb-32 pt-20"
>
  <h2 class="text-4xl font-bold font-josefin">Technologies</h2>
  <ul class="flex flex-col sm:grid gap-8 grid-cols-12 max-w-4xl">
    <IconsCard title="Frontend" classes="sm:col-span-6" icons={frontendIcons} />
    <IconsCard title="Backend" classes="sm:col-span-6" icons={backendIcons} />
    <IconsCard
      title="Other tools"
      classes="sm:col-span-full"
      icons={otherIcons}
    />
  </ul>
</section>
