---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Facundo | Software Developer">
  <h1 class="font-josefin text-3xl text-primary-400">Este es un título</h1>
  <p class="font-josefin text-lg text-white-100">Este es un párrafo</p>
</Layout>
