---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="absolute top-0 left-0 w-full h-120 bg-gradient-ellipse"></div>
    <div class="relative z-10">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  @import "tailwindcss/base";
  @import "tailwindcss/components";
  @import "tailwindcss/utilities";

  html {
    font-family: "Josefin Sans", sans-serif;
  }
  .bg-gradient-ellipse {
    background: radial-gradient(
      ellipse at top,
      #001d3d 15%,
      rgba(31, 41, 55, 0) 70%
    );
  }
  body {
    position: relative;
    background: #000814;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #001d3d;
    border-radius: 5px;
    border: 3px solid #002952;
  }
</style>
